.slick-prev {
  left: -2.3rem !important;
  top: 7rem !important;
}
.slick-next {
  right: -0.3rem !important;
  top: 7rem !important;
}
.slick-next:before,
.slick-prev:before {
  content: "" !important;
}
.next-slick-arrow,
.prev-slick-arrow {
  color: #7b58f4;
  font-size: 35px;
}

.slick-dots li button:before {
  font-size: 8px;
}

.slick-dots li.slick-active button:before {
  color: #7b58f4;
}
