@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700&display=swap');
@import "./mxins.scss";
@import "./generalStyling.scss";

.section-heading {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 15px 2%;
}

.help {
  padding: 10px 6%;

  .help-content {
    @include flex(column, flex-start, center, 26px);
  
    .help-items {
      width: 100%;
      @include flex(row, flex-start, space-between, 10px);

      .help-text {
        @include flex(row, flex-start, flex-start, 7px);
        flex: 80%;
      }
    }
  }  
}

.mail-container {
  background: #f6f6f6;
  min-height: 100vh;

  .mail {
    padding: 10px 6%;

    .mail-us {
      @include flex(column, stretch, flex-start, 16px);

      input,
      textarea {
        padding-left: 12px;
        height: 42px;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
      }

      textarea {
        height: 269px;
        margin-top: 16px;
      }
    }
  }
}

.chat {
  @include flex(column-reverse, stretch, flex-start, 20px);
  padding: 10px 6%;
  min-height: calc(100vh - 52px);

  .chat-text {
    border: 0.5px solid #AAAAAA;
    border-radius: 4px;
    padding: 8px;
  }
}
