form {
  position: relative;
  width: 100%;
  input {
    border: none;
    width: 100%;
    background: transparent;
    font-size: 0.8rem;
    font-weight: 400;
    color: #1a1a1a;
    letter-spacing: 0.5px;
    padding: 12px 2.5rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    outline: none;
  }
}
.search{
  button{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(100%, -50%);
    border: none;
    cursor:pointer;
    svg {
      position: absolute;
      font-size: 1.3rem;
      top: 50%;
      left: 0%;
      transform: translate(50%, -50%);
      color: #333;
    }
}
}